{
    "Rules": [
        {
            "ID": "retention-backup",
            "Status": "Enabled", 
            "Filter": {},
            "Expiration": {
                "Days": RETENTION
            }
        }
    ]
}